body{
	font-family: 'Lato', sans-serif;
}

h1{
	font-weight: 300;
	font-size: 60px;
	color: #435FB1;
}

h2{
	font-size: 40px; 
	color: #918ebc;
}

h3{
	font-size: 28px;
	font-weight: 300;
	color: #635ea0;
}

h4{
	font-size: 22px;
	color: #5c68b4;
}

hr{
	border-top: 5px solid #eecde2;
}

p{
	color: #adb3c1;
}

